<div id="root">
    <main>
        <h1 class="title">PlayersApp</h1>
        <div class="counter-teams">
            <p class="counter-teams__title">There are {{lengthTeams}} teams</p>
            <button class="counter-teams__button">Add team</button>
        </div>

        <div class="titles">
            <p>Teams</p>
            <p>Countries</p>
            <p>Actions</p>
        </div>


        <div class="grid">
            <div class="grid__teams-container">
                <ul>
                    <div>
                        {{#each nameTeams}}
                        <li id={{lookup ../ids @index}} class="team">
                            <img class="team__img" src={{lookup ../shieldTeams @index}} alt="{{this}}">
                            {{this}}
                        </li>
                        {{/each}}
                    </div>
                </ul>
            </div>
            <div>
                <ul>
                    {{#each countries}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div>
                <ul>
                    {{#each ids}}
                    <li class="actions">
                        {{> buttonSee }}
                        {{> buttonEdit }}
                        {{> buttonDelete }}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </main>
</div>

<script src="/addTeam.js"></script> 
<script src="/handleButtonsSee.js"></script> 
<script src="/handleButtonsEdit.js"></script>
<script src="/handleButtonsDelete.js"></script>